body {
  display: flex;
  flex-direction: column;
  padding: 3em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 5em;
  font-weight: 700;
  color: #bbdefb;
  margin: 0.67em 0;
}

h4 {
  font-weight: 700;
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
}

input {
  font-weight: 200;
}

.addListWrapper {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.addTask {
  display: flex;
  flex-direction: row;
}

.lists {
  position: relative;
  padding-top: 7rem;
  display: inherit;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: baseline;
  align-self: flex-start;
}

.list {
  flex: 0 0 300px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  max-width: 300px;
  min-width: 300px;
  padding: 1em 1em;
  margin: 0 0.5em;
}

.listHeader, .task {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
  align-items: baseline;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.task form {
  flex: 1;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #1e88e5;
  border-bottom: 2px solid #1e88e5;
}

.card-panel {
  border-radius: 7px;
  padding: 20px 10px;
}

.btn-flat {
  border-radius: 50px;
  padding: 0 8px 0 7px;
}

.closeList {
  display: none
}

.show {
  display: inline-block;
}

.add i {
  font-size: 1.7rem;
  color: #9e9e9e;
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -ms-transition: -ms-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.add i:hover {
  transform: rotate(180deg);
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 2px solid #2962ff;
  box-shadow: 0 1px 0 0 #2962ff;
}

input[type=text]:not(.browser-default) {
  color: white;
}

.task input[type=text]:not(.browser-default) {
  color: black;
  font-weight: 400;
  border-bottom: none;
  font-size: 1.2rem;
}

.task input[type=text]:not(.browser-default)::placeholder {
  color: black;
  font-size: 1.2rem;
}

.task-name {
  resize: none;
  color: black;
  font-size: 1.1em;
  border: none;
  height: 3rem;
}

.task-name::placeholder {
  color: black;
  font-size: 1.1em;
}

.task form p {
  margin: 0;
}

.collapsible {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  margin: 0;
}

.collapsible-header {
  padding: 0;
  border-bottom: none;
}

.collapsible-header i {
  margin-right: 0rem;
  font-size: 1.3rem;
}

.collapsible-body {
  display: none;
  border-bottom: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0em;
}

.collapsible-body ul {
  padding-left: 0.2em;
}
 .collapsible-body i{
   font-size: 1.3rem;

 }
.collapsible-body li{
  padding: 0.3em 0;
}
.collapsible-body a{
  color:#686868;
}
