body {
  display: flex;
  flex-direction: column;
  padding: 3em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-height
}

h4 {
  font-weight: 700;
  font-size: 1.7em;
  text-transform: uppercase;
}

input {
  font-weight: 200;
}

.addListWrapper {
  height: 10vh;
  position: fixed;
  z-index: 1;
}

.lists {
  position: relative;
  padding-top: 7rem;
  display: inherit;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  align-self: flex-start;
}

.list {
  flex: 0 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  max-width: 300px;
  min-width: 300px;
  padding: 0 1em;
  margin: 0 0.5em;
}

.listHeader, .task {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
  align-items: baseline;
}

.task {}
.card-panel{
  border-radius: 10px;
}
